/* MENU NAV */
.menu {
    margin: 20px;
    display: none;
}

/* TIPO DIST. (BINOMINAL ou NORMAL ou UNIFORME)*/
.dist {
    margin: 20px;
    display: none;
}

/* (MENOR QUE ou ENTRE ou MAIOR QUE) - DIST. NORMAL */
.tipoDistNor {
    margin: 20px;
    display: none;
}

/* (MENOR QUE ou ENTRE ou MAIOR QUE) - DIST. UNIFORME */
.tipoDistUni {
    margin: 20px;
    display: none;
}

/* ALINHAR TEXTO DA TABELA NO CENTRO */
table, tr, td {
    text-align: center;
}

/* REMOVE ESTILO PADRÃO DO BOTÃO RADIO*/
input[type=radio]{
    display: none;
}

/* MUDAR ESTILO RANGE */
input[type=range] {
    -webkit-appearance: none;
    appearance: none;
    width: 90%;
    height: 5px;
    border-radius: 5px;
    background-color: #616161;
    outline: none;
}

.campo::-webkit-slider-thumb{
    -webkit-appearance: none;
    border: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #000000  ;
}